@import "bootstrap-sprockets";
@import "bootstrap";
.menu_icon {
  width: 25px;
  fill: #30a5ff;
}
.general_icon {
  width: 50px;
  fill: white;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
img {
  width: 100%;
  height: auto;
}
.upload-preview {
  text-align: center;
}
