li {
  list-style: none;
}

ul {
  padding: 0;
}

.section_products .catalog {
  text-align: center;
}
.section_products .catalog .catalog_title {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #84c52c;
  padding: 10px 0;
}
.section_products .catalog .catalog_list {
  background-color: #f1f6f8;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  max-height: 360px;
  height: 360px;
  padding: 0;
}
.section_products .catalog .catalog_list .catalog_item {
  font-size: 14px;
}
.section_products .catalog .catalog_list .catalog_item .link_catalog {
  padding: 12px 40px 13px 27px;
  display: block;
  vertical-align: middle;
  font-size: 14px;
  color: #464646;
  font-family: Arial;
  border-bottom: 1px dashed #c2c2c2;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section_products .top_products .home_title {
  background-color: #f1f6f8;
}
.section_products .top_products .home_title .title {
  color: #84c52c;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.section_products .top_products .product_list {
  padding: 0;
}
.section_products .top_products .product_list .product_item {
  margin-bottom: 15px;
}
.section_products .top_products .product_list .product_item .content .img_product_cover img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn {
  margin-top: 10px;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom {
  padding: 3px 10px;
  width: 47%;
  float: left;
  margin: 5px 2px;
  font-size: 12px;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom:focus {
  outline: none;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom.btn_detail {
  border: 1px solid #84c52c;
  color: #84c52c;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom.btn_detail:hover {
  background-color: #84c52c;
  color: #ffffff;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom.btn_cart {
  border: 1px solid #ff8401;
  color: #ff8401;
  background-color: #ffffff;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom.btn_cart:hover {
  background-color: #ff8401;
  color: #ffffff;
}
.section_products .top_products .product_list .product_item .content .product_des .title {
  font-size: 20px;
  color: #7b7b7b;
  margin: 5px 0;
  padding-left: 2px;
}
.section_products .top_products .product_list .product_item .content .product_des .title:hover {
  color: #84c52c;
}
.section_products .top_products .product_list .product_item .content .product_des .description {
  font-size: 14px;
  color: #7b7b7b;
  padding-left: 2px;
}
.section_products .top_products .product_list .product_item .content .product_des .price {
  color: #ff8401;
  font-size: 18px;
  padding-left: 2px;
}

.section_table .table {
  text-align: center;
}
.section_table .table .title_table .title_cell {
  text-align: center;
  display: table-cell;
  background-color: #84c52c;
  color: #ffffff;
}
.section_table .table .content_table .item .img_cover {
  width: 130px;
  height: 150px;
  object-fit: cover;
}
.btn-custom {
  display: block;
  width: 70%;
  margin: 10px auto;
}

.copyright {
  margin: 40px 0;
  background-color: #dddddd;
}
