li {
  list-style: none;
}

ul {
  padding: 0;
}

.section_products .catalog {
  text-align: center;
}
.section_products .catalog .catalog_title {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #84c52c;
  padding: 10px 0;
}
.section_products .catalog .catalog_list {
  background-color: #f1f6f8;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 0;
}
.section_products .catalog .catalog_list .catalog_item {
  font-size: 14px;
}
.section_products .catalog .catalog_list .catalog_item .link_catalog {
  padding: 12px 40px 13px 27px;
  display: block;
  vertical-align: middle;
  font-size: 14px;
  color: #464646;
  font-family: Arial;
  border-bottom: 1px dashed #c2c2c2;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section_products .top_products .home_title {
  background-color: #f1f6f8;
}
.section_products .top_products .home_title .title {
  color: #84c52c;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.section_products .top_products .product_list {
  padding: 0;
}
.section_products .top_products .product_list .product_item {
  margin-bottom: 15px;
}
.section_products .top_products .product_list .product_item .content .img_product_cover img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn {
  margin-top: 10px;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom {
  padding: 3px 10px;
  width: 47%;
  float: left;
  margin: 5px 2px;
  font-size: 12px;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom:focus {
  outline: none;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom.btn_detail {
  border: 1px solid #84c52c;
  color: #84c52c;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom.btn_detail:hover {
  background-color: #84c52c;
  color: #ffffff;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom.btn_cart {
  border: 1px solid #ff8401;
  color: #ff8401;
  background-color: #ffffff;
}
.section_products .top_products .product_list .product_item .content .product_des .group_btn .btn_custom.btn_cart:hover {
  background-color: #ff8401;
  color: #ffffff;
}
.section_products .top_products .product_list .product_item .content .product_des .title {
  font-size: 20px;
  color: #7b7b7b;
  margin: 5px 0;
  padding-left: 2px;
}
.section_products .top_products .product_list .product_item .content .product_des .title:hover {
  color: #84c52c;
}
.section_products .top_products .product_list .product_item .content .product_des .description {
  font-size: 14px;
  color: #7b7b7b;
  padding-left: 2px;
}
.price {
  color: #ff8401;
  font-size: 18px;
  padding-left: 2px;
  text-align:center;
}

.section_table .table {
  text-align: center;
  padding: 0px 15px;

}
.section_table .table .title_table .title_cell {
  text-align: center;
  display: table-cell;
  background-color: #84c52c;
  color: #ffffff;
}
.section_table .table .content_table .item .img_cover {
  width: 130px;
  height: 150px;
  object-fit: cover;
  vertical-align: middle;
}
.btn-custom {
  display: block;
  margin: 10px auto;
}
.navbar-inverse {
  background-color: #f1f6f8;
  border: orange;
}
.navbar-inverse .navbar-nav > li > a {
  color: orange;
}
.copyright {
  margin: 40px 0;
  background-color: #dddddd;
}
.product_content {
  border: dashed 1px orange;
}
.border_top_product {
  border: dashed 1px #84c52c;
  border-radius: 30px;
  border-top-style: none;
  text-align: justify;
}
.image_product {
  height: 300px;
  width: 250px;
  object-fit: cover;
  border: double orange;
  border-radius: 20px;
}
.product_title {
  color: #2F4F4F;
}
.center{
  width: 130px;
  margin: 10px 40px;
}
.input_quantity {
  font-size: 15px;
  font-weight: bold;
}
.info_product {
  border: dashed 1px #84c52c;
  border-radius: 10px;
  border-top-style: none;
}
.info_title {
  background-color: #f1f6f8;
  color: #84c52c;
  padding: 2px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}
.fb-comments {
  data-with
}
.price_show {
  color: #ff8401;
  padding-left: 10px;
}
.product-count {
  background: #84c52c;
  top: 7px;
  right: 0;
  font-size: 12px;
  padding: 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 18px;
  width: 18px;
  position: absolute;
  text-align: center;
}
.form_user {
  padding-top: 40px;
}
.center_form {
  float: none !important;
  margin: 0 auto;
}
.button_center {
  margin: 0 auto;
  display: block;
  width: 100px;
  padding-bottom: 15px;
}
.zigzag-bottom {
  background: #000;
  background: #1abc9c;
  bottom: -80px;
  height: 165px;
  left: -5%;
  position: absolute;
  transform: rotate(3deg);
  width: 108%;
  z-index: 9;
}
.footer-bottom-area {
  background: #000;
  color: #fff;
  padding-bottom: 40px;
}
.img_cart {
  width: 100px;
  height: auto;
}
