.menu_icon {
  width: 25px;
  fill: #30a5ff;
}
.header_icon {
  width: 25px;
  fill: white;
}
.general_icon {
  width: 50px;
  fill: white;
}
.function_icon {
  margin-left: 8px;
}
.div_function {
  position: relative;
  overflow: hidden;
  height: 25px;
  white-space: nowrap;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 27px;
  color: #84c52c;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
img {
  width: 100%;
  height: auto;
}
.upload-preview {
  text-align: center;
}
.person {
  padding-top: 0;
}
.admin_dropdown_setting {
  width: 320px;
  left: 486px;
  right: auto;
  top: 141px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.line_pear {
  background: gainsboro;
}
.image_on_table {
  width: 100px;
  height: auto;
}
.pagrinate {
  float: right;
}
.mutile_menu {
  margin: 0 50px;
  color: #337ab7;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.menu_son {
  display: none;
}
#exTab1 .tab-content {
  color : black;
  background-color: #ECEEF0;
  padding : 5px 15px;
}
#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
#exTab1 .nav-pills > li > a {
  border-radius: 0;
}
#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}
#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.padtop {
  padding-top: 10px;
}
.table_form {
  padding: 0px 15px;
}
.button_lock {
  pointer-events: none;
  cursor: default;
  background-color: gray;
  border-color: gray;
}
.item {
  vertical-align: middle !important;
}
.error_form {
  color: red;
  text-align: center;
  padding-top: 50px;
}
.size_field {
  width: 80px;
  margin: 0 auto;
}
.note_order {
  height: 80px !important;
  width: 150px;
  resize: none;
}
.form_right {
  float: right;
}
.not_pading_top {
  padding-top: 0 !important;
  margin: 10px;
}
.error_font {
  margin: 0 auto;
  size: 20px;
  color: red;
}
.font_right {
  text-align: right;
}
.btn_finish_order {
  width: 150px;
}
.font_payment {
  font-size: 20px;
  color: orange;
}
.display_none {
  display: none;
}
.font_status {
  font-size: 25px;
  font-variant: small-caps;
  font-weight: bold;
  color: orange;
}
.font_no_product {
  color: orange;
  text-align: center;
}
.panel-user {
  background-color: orange;
}
.panel-product {
  background-color: #84c52c;
}
.panel-order {
  background-color: #987cec;
}
.panel-suggest {
  background-color: #e8ea4c;
}
.huge {
  font-size: 30px;
}
.money {
  vertical-align: middle !important;
  color: orange;
  font-style: 18px;
}
.div_error {
  padding-top: 60px;
}
.display_not {
  display: inline-block !important;
}
