<div id="<%= "modal#{suggest.id}" %>"  class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "view_suggest" %></h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div class="row">
            <div class="set_image_suggest"><%= raw suggest.info %></div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
