<div id=":lj" class="ii gt adP adO"><div id=":li" class="a3s aXjCH m15b5bde763192477"><u></u>
  <div>
    <div class="m_8745720239803315847container">
      <div class="m_8745720239803315847content">
        <h1 align="center" style="color: #219e05;">
          <span>
            <img src="https://image.ibb.co/f8HgFk/Untitled_1.jpg" style="height: 150px;" >
          </span>
        </h1>
        <p align="center" style="color: #70bb14;"><%= t "mail_thank" %></p>
        <h2 align="center"><%= t("thank_suggest",id: @id) %></h2>
        <br>
        <p align="center"><%= t"end_email" %></p>
      </div>
    </div>
  </div>
</div>

