<section class="row section_carousel clearfix">
  <div id="main" role="main" class="col-sm-12">
    <div class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <%= image_tag "panel2.png" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
