 <div class="col-sm-3 catalog">
 <h2 class="catalog_title"><%= t "product_catalog" %></h2>
  <ul class="catalog_list">
    <%= render partial: "layouts/categorie_item", collection: @categories, as: :categorie %>
  </ul>
</div>
